  <!--================Login Box Area =================-->
	<section style="background-image: url('../../../../assets/img/bg.png');">
		<app-header></app-header>
		<div class="container">
			<div class="row justify-content-center">
				
				<div class="col-lg-6">
					<div style="padding: 8% 0%;;">
							
								<div style="text-align: center; margin-bottom: 2%;">

									<h3 style="font-family: Helvetica Neue W23 for SKY; font-size: 25px; color: #2A2A2A;"> تغيير كلمة المرور </h3>
								</div>

								<form class="row justify-content-center" action="#/" id="contactForm" style="direction: rtl; padding: 5% 0%;" >	
							
							<div class="col-lg-10 col-md-10 col-sm-10 col-10 form-group" style="height: 56px;">
								<div class="input-group">
									<div class="input-group-addon">
								 		<i class="fa fa-lock p-2"></i> 
									</div>	
								<input type="password" class="form-control" id="password" name="password" placeholder="كلمة المرور الجديدة" onfocus="this.placeholder = ''" onblur="this.placeholder = 'كلمة المرور الجديدة'">
							</div>
							</div>
              <div class="col-lg-10 col-md-10 col-sm-10 col-10 form-group" style="height: 56px;">
								<div class="input-group">
									<div class="input-group-addon">
								 		<i class="fa fa-lock p-2"></i> 
									</div>	
								<input type="password" class="form-control" id="password" name="password" placeholder="تأكيد كلمة المرور" onfocus="this.placeholder = ''" onblur="this.placeholder = 'تأكيد كلمة المرور'">
							</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-8 col-8 form-group" style="height: 56px; margin: 4% auto;">
                <button type="submit" value="submit" class="btn" style="background-color: #4EB77C; width: 100% ; height: 70%; color: #FFFFFF;" [routerLink]="['/']">تأكيد</button>
            </div>
            <div style="height: 56px; color: #434343; font-size: 13px; text-align: center;">
              <p>إعادة محاولة <a [routerLink]="['/Login']" style="color:#4EB77C;text-decoration: none; font-weight: bold;">تسجيل الدخول</a> بدلاً من ذلك!</p>
            </div>
						</form>
						<div style="margin: 0 auto; text-align: center;">
							<div style="border: 1px solid black; background-color: #2A2A2A; border-radius: 50%; width: 12px; height: 12px; display: inline-block; margin-right: 3px;">&nbsp;</div>
							<div style="border: 1px solid black; background-color: #2A2A2A; border-radius: 50%; width: 12px; height: 12px; display: inline-block; margin-right: 3px;">&nbsp;</div>
							<div style="border: 1px solid black; background-color: #2A2A2A; border-radius: 50%; width: 12px; height: 12px; display: inline-block;">&nbsp;</div>
			
						</div>
			
					</div>
				</div>
				<div class="col-lg-5 mt-5" id="Asset1" >
					<div style="width:450px; height:450px; margin-left: 20%;">
						<img src="../../../../assets/img/Asset 1.png" width="100%" height="100%">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
