<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <!-- <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;" data-bs-slide-to="0" class="active" aria-current="true"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;" data-bs-slide-to="1" ></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;" data-bs-slide-to="2" ></button>
  </div> -->
  <div class="carousel-inner" style="height: 380px; width: 100%;">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="../../../../../assets/img/mainSlider/8.jpg" class="d-block w-100" alt="...">
    </div>
   
    <div class="carousel-item" data-bs-interval="5000">
      <img src="../../../../../assets/img/mainSlider/2.jpg" class="d-block w-100" alt="...">
    </div>
  
    <div class="carousel-item" data-bs-interval="5000">
      <img src="../../../../../assets/img/mainSlider/13.jpg" class="d-block w-100" alt="...">
    </div>
  
    <div class="carousel-item" style="height: 380px; width: 100%;" data-bs-interval="5000">
      <img src="../../../../../assets/img/mainSlider/3.jpg" height="120%" class="d-block w-100" alt="...">
    </div>

    <div class="carousel-item" data-bs-interval="5000">
      <img src="../../../../../assets/img/mainSlider/000.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" style="background-color: black;" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" style="background-color: black;" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
