
  <!--================Login Box Area =================-->
	<section style="background-image: url('../../../../assets/img/bg.png');">
		<app-header></app-header>
		
		<div class="container">
			<div class="row justify-content-center">
				
				<div class="col-lg-6">
					<div style="padding: 8% 0%;;">
								<div style="text-align: center; margin-bottom: 2%;">

									<h3 style="font-family: Helvetica Neue W23 for SKY; font-size: 25px; color: #2A2A2A;">إدخال كود التحقق </h3>
								</div>

							

						<form class="row justify-content-center" action="#/" id="contactForm" style="direction: rtl; padding: 5% 0%;" >				
							<div class="col-lg-2 col-md-2 col-sm-2 col-2">
									
								<input type="number" class="form-control" id="code1" name="code1" placeholder="">
							
							</div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-2">
									
								<input type="number" class="form-control" id="code2" name="code2" placeholder="">
							
							</div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-2">
									
								<input type="number" class="form-control" id="code3" name="code3" placeholder="">
							
							</div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-2">
									
								<input type="number" class="form-control" id="code4" name="code4" placeholder="">
							
							</div>
							<div class="col-lg-6 col-md-6 col-sm-8 col-8 form-group" style="height: 56px; margin: 8% auto 4% auto;">
									<button type="submit" value="submit" class="btn" style="background-color: #4EB77C; width: 100% ; height: 70%; color: #FFFFFF;" [routerLink]="['/Login/ChangePassword']">تأكيد الكود</button>
							</div>
              <div style="height: 56px; font-size: 15px; text-align: center;">
								<a href="#" style="font-weight: 600; text-decoration: none; color: #434343;" onMouseOver="this.style.color='#8d8d8d'" onMouseOut="this.style.color='#434343'">إرسال الكود مرة اخري</a>
							</div>
							<div style="height: 56px; color: #434343; font-size: 13px; text-align: center;">
								<p>إعادة محاولة <a [routerLink]="['/Login']" style="color:#4EB77C;text-decoration: none; font-weight: bold;">تسجيل الدخول</a> بدلاً من ذلك!</p>
							</div>
							
						</form>
						<div style="margin: 0 auto; text-align: center;">
							<div style="border: 1px solid black; background-color: #2A2A2A; border-radius: 50%; width: 12px; height: 12px; display: inline-block; margin-right: 3px;">&nbsp;</div>
							<div style="border: 1px solid black; background-color: #2A2A2A; border-radius: 50%; width: 12px; height: 12px; display: inline-block; margin-right: 3px;">&nbsp;</div>
							<div style="border: 1px solid black; background-color: #ffff; border-radius: 50%; width: 12px; height: 12px; display: inline-block;">&nbsp;</div>
			
						</div>
					</div>
				</div>
			<div class="col-lg-5 mt-5" id="Asset1" >
						<div style="width:450px; height:450px; margin-left: 20%;">
							<img src="../../../../assets/img/Asset 1.png" width="100%" height="100%">
						</div>
					</div>
				</div>
			</div>
	</section>
	<!--================End Login Box Area =================-->
